DEVELOPMENT_TEAM=4NZTUMT7R4
CODE_SIGN_IDENTITY="Developer ID Application: Jeyeong Song (4NZTUMT7R4)"
DMG_SIGN_IDENTITY="Developer ID Application: Jeyeong Song (4NZTUMT7R4)"

DEVELOPER_ID_P12_BASE64=
DEVELOPER_ID_P12_PASSWORD=
KEYCHAIN_PASSWORD=
NOTARY_API_ISSUER_ID=
NOTARY_API_KEY_BASE64=
NOTARY_API_KEY_ID=
